body {
    font-family: 'Fira Sans', sans-serif;
}

#todo div {
    box-sizing: border-box;
    width: 17.5%;
    cursor: pointer;
    margin: .8em;
    border-radius: .8em;
}

#todo p, h2 {
    margin-top: .75em;
    margin-bottom: .5em;
    padding: .25em;
    font-weight: bold;
}

.incomplete{
    background-color: burlywood;
    text-decoration: underline;
}

.completed {
    opacity: 40%;
    text-decoration: line-through;
    background-color: rgb(0, 87, 114);
}

#todo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}